#container {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  width: 544px;
  /* 544-480 */
  /* width: 544px; */
}

.boxes {
  border: 2px solid black;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: navy;
}

#screen {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
}

#button {
  width: 200px;
  height: 30px;
  background-color: yellow;
  margin-top: 100px;
}
